<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title><%= title %></title>
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>
    
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <div role="main">
            <% if (content != null) { %>
                <ol>

                    <% var hash = new Array %>
                    <% for (var i in content) { %>
                        <% var obj = content[i]; %>
                        <% var NewPubDate = new Date(obj.pubDate) ;
                            var Week = new Array( "日","月","火","水","木","金","土" );
                            var date = NewPubDate.getFullYear() + "/" + NewPubDate.getMonth() + "/" + NewPubDate.getDay() + " " + NewPubDate.getHours() + ":" + NewPubDate.getMinutes() + ":" + NewPubDate.getSeconds();
                            obj.pubDate = date;
                        %>
                        <% hash.push(obj); %>
                    <% } %> 
                    
                    <% hash.sort(function(a,b) {
                        return (a.pubDate < b.pubDate ? 1 : -1);
                    }); %>

                    <% for (var i in hash) { %>
                        <% var obj2 = hash[i] %>
                        <li><%= obj2.pubDate %><a href="<%=obj2.link %>"><%= obj2.title %></a></li>
                    <% } %>

                </ol>
            <% } %>
        </div>
    </body>
</html>